<div class="container">
    <h2 class="my-4">List of Partners</h2>
    <button class="btn btn-primary" (click)="createPartner()">Create New Partner</button>
    <button class="btn btn-primary" (click)="openPolicyModal()">Create Policy</button>
    

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Partner Number</th>
          <th>Gender</th>
          <th>Created At</th>
          <th>Created By</th>
          <th>Is Foreign</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of partners" 
        [ngClass]="{'highlight-new': isNewPartner(partner.id)}"
        style="cursor: pointer;" 
        (click)="openPartnerDetails(partner)">
        <td>{{ partner.isImportant ? '* ' : '' }}{{ partner.fullname }}</td>
        <td>{{ partner.partnerNumber }}</td>
          <td>{{ partner.gender }}</td>
          <td>{{ partner.createdAtUtc | date: 'short' }}</td>
          <td>{{ partner.createdByUser }}</td>
          <td>
            <span *ngIf="partner.isForeign; else notForeign">✔</span>
            <ng-template #notForeign>❌</ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  
  